# THE ILIAD

**File:** TheIliad.ipynb

**Course:** Data Science Foundations: Data Mining in Python

# "THE ILIAD" AT PROJECT GUTENBERG

- [Project Gutenberg](https://www.gutenberg.org) provides over 60,000 free e-books.
- For these demonstrations, we'll use "The Iliad" by Homer, which is located at http://www.gutenberg.org/ebooks/6150.
- We'll use the plain text version, which I have already downloaded and saved to the data folder as `Iliad.txt`.

# IMPORT LIBRARIES

In [1]:
import pandas as pd  # For data functions

# LOAD DATA

- You can import the text and display the first few lines with this code:

In [9]:
df = pd.read_csv('data/Iliad.txt',sep='\t')

df = df.dropna()

df = df.drop('gutenberg_id', axis=1)


df.head(10)

                                                 text
0                                  THE ILIAD OF HOMER
2                  RENDERED INTO ENGLISH BLANK VERSE.
3                                                  BY
5                               EDWARD EARL OF DERBY.
10                                           PREFACE.
13  In the spring of 1862 I was induced, at the re...
14  friends, to print, for private circulation onl...
15  "Translations of Poems Ancient and Modern," in...
16  first Book of the Iliad. The opinions expresse...
17  judges of the degree of success which had atte...

# CLEAN UP

- If desired, clear the results with Cell > All Output > Clear. 
- Save your work by selecting File > Save and Checkpoint.
- Shut down the Python kernel and close the file by selecting File > Close and Halt.